* {
	margin:0;
	padding:0
}
body {
	color:#333;
	line-height:1.3em;
	font-size:10px;
	font-family:verdana,helvetica,arial,sans-serif;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
}
a {
	color:#cc0000;
	text-decoration:none
}
a :hover{
text-decoration:underline;}
ul, ol {
	padding:0px 0 0 0;
}
ul li, ol li {
	line-height:1.8em;
	list-style-position:inside;
}
h1 {
	color:#cc0000;
	font-size:26px;
	line-height:1.5em
}
h2 {
	color:#fff;
	font-size:22px;
	line-height:1.5em
}
h3 {
	color:#fff;
	font-size:17px;
	line-height:1.5em
}
p {
	padding:10px 0 10px 0;
	line-height:1.5em;
	font-size:110%
}
div.clear{
	z-index:99;}
img {
	margin:0 20px 10px 0
}
.fl {
	float:left
}
.fr {
	float:right
}
.clear {
	clear:both;

}
.col {
	float:left;
	margin:40px 0 20px 0px;
	background:#f2f2f2;
	display:block;
	min-height:1000px;
}
.links{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:20px 20px ;
	float:left;
	clear:left;
	color:#fff;	
	margin:20px 0 0 10px; /* to move the banner up or down*/
	position:fixed;
	*position:relative;
	background-color: #111;
}
.links h3{
	font-size:18px;
	width:100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}
.links a{color:#fff;
}
.links a:hover{
text-decoration:underline;}
#welcome{
width:100%;
text-align:right;
position:relative;
margin:-5px 0 0 0;
color:#fff;}
.signout{
margin:0 0 0 20px;
}
.signout a{

color:#fff;
text-decoration:none
}
.signout a:hover{
text-decoration:underline;}
.domtab{margin:2px 0 0 0;
}
.domtabs{
float:left;
position:relative;

margin:20px -30px 30px 0;
list-style:none;}
.domtabs li{

}
.domtabs li a{
	z-index:99;
	padding:9px 10px 5px 20px;
	margin:2px 0;
	width:160px;
	line-height:1.3em;
	display:block;
	font-size:11px;
	color:#333333;
	text-decoration:none;
	font-weight:bold;
	background-color: #DFEFFC;
	
}
	.domtabs li a:hover{
	background-color: #FCFCFC;
	}
/*  .domtabs li a:active {
	z-index:99;
	padding:9px 10px 5px 20px;
	margin:2px 0;
	width:180px;
	line-height:2em;
	display:block;
	font-size:14px;
	color:#333333;
	text-decoration:none;
	font-weight:bold;
	background: url(../images/left-nav.png) no-repeat;	
	
}  */
.domtabs li a.complete{
background:#EBECCD;}

.domtabs li a.recommendation{
background:#EBECCD;}


.percentage .num{
float:right;}
.percentage img{
border:none;
margin:0
}
.percentage{
font-size:9px;
font-weight:normal;
display:block;
width:100%}
#toptext{
position:relative;
margin-top:-40px}
.tab{
-moz-box-shadow: 2px 2px 3px #999;
border:1px solid #DEDEDE;
-webkit-box-shadow: 2px 2px 3px #999;
width:620px;
clear:none;
float:right;
background:#fff;
padding:20px 30px 30px 30px;
margin:20px 20px 0 -30px;
*margin:0 20px 0 -10px;
}
.tab .topleft{
	position:relative;
	font-size:18px;
	color:#999999;
	left:-200px;
	
}
.tab h2{
color:#333333;
display:block;
background:#ccc;
padding:5px 10px;
font-size:18px;
}

.tab h3{
color:#333333;
display:block;
background:#ccc;
padding:5px 10px;}
.w-600 {
	width:850px;
}
.w-360 {
	width:460px;
}
.w-160 {
	width:210px;
}
.mainsep{
border-bottom:1px solid #ccc;
width:100%;
display:block;
height:10px;
margin:0 0 10px 0}
.col .reminder {
	padding:10px;
	margin: 20px 20px 20px 10px;
	width:155px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #D94547;
	z-index:99;
	background: #C51718 url(../images/remind.jpg) repeat-x;
	position: fixed;
	color:#fff;
}
.reminder h4{
font-size:14px;
line-height:1.5em;
margin:0 0 10px 0;
text-align:center
}
.reminder a{
-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#fff;
	font-size:13px;
	text-decoration:none;
	padding:4px 8px;
	margin:10px;
	background-image: url(../images/bbutton.jpg);
	background-repeat: repeat-x;
}
.reminder .sep{
	background-image: url(../images/sep.png);
	background-repeat: no-repeat;
	width:100%;
	height:3px;
	margin:10px 0 5px 0;
}
.reminder h5{
color:#000000;
font-size:13px;
line-height:1.4em;
text-align:center}
.reminder h3{
font-size:14px;
margin:0 0 -10px 0;
color:#5C0101}
.up{
*margin-bottom:-10px;
_margin-bottom:-15px;

}

.w-150{
*width:110px;}

#form-title {
	color:#939586;
	position:relative;
	margin:-30px 0 0 15px;
	width:330px;
	border-bottom:1px solid #ccc;
}
.form-container {

	background:#fff;
	
}
#left-article {
	border-right:1px solid #ccc;
}
#container {
	width:1060px;
	margin:0 auto;
	
	
}
#header {
	width: 960px;
	margin:0 auto;
	height:100px;
	background:url(../images/hd.jpg) no-repeat;
}
#header a{
width:150px;
height:80px;
display:block;
float:left;}
/* #footer {
	width:100%;
	background:#666;
	padding:10px 0;
	text-align:center;
}
#footer a {
	color:#ccc;
} */
#footer { background-color:#30354b; margin-top:40px; font-size:0.9em; padding:20px 0; overflow:hidden; }
.stack+#footer { margin-top:0; }
	#footer a { color:#b9dcea; text-decoration:none; font-weight:bold; }
	#footer a:hover { color:#fff; text-decoration:none; font-weight:bold; }
	#footer #address { width:394px; float:left; }
		#footer #address a { color:#fff; font-weight:bold; }
		#footer #address a:hover { color:#b9dcea; }
	#footer #footer_links { list-style-type:none; float:left; width:378px; }
	#footer #footer_links li { float:left; width:189px; }
	#footer #footer_social { list-style-type:none; float:right; margin-top:10px; }
		#footer #footer_social li { float:left; margin-right:5px; }
			#footer #footer_social li a { display:block; background-color:#344a85; width:16px; height:16px; }
			#footer #datemodified { display:none; }
/*form*/
#student-info {
}
form ul li {
	list-style:none;
}
form ul {
	font-size:110%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}
form li {
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}
form li .bk{
}
form li:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.buttons:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.buttons {
	clear:both;
	display:block;
	margin-top:10px;
	width:100%;
	height:30px;
	*margin-left:-9px;
	_margin-left:0px;
}
.buttons input {
	cursor:pointer;
	width:70px!important;
	display:block;
	height:30px;
	padding:10px;
	
	background-image:none;
	margin:20px 0 0 0;
	background:#ccc;
	color:#666;
	border:none;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
.buttons input:hover{
	background-color: #B8B8B8;
}
* html form li {
	height:1%;
}
* html .buttons {
	height:1%;
}
* html form li div {
	display:inline-block;
}
form li div {
	color:#444;
	margin:0 4px 0 0;
	padding:0 0 8px;
}
form li span {
	color:#444;
	float:left;
	margin:0 15px 0 0;
	padding:0 0 6px;
}
form li div.left {
	display:inline;
	float:left;
	width:48%;
}
form li div.right {
	display:inline;
	float:right;
	width:48%;
}
form li div.left .medium {
	width:100%;
}
form li div.right .medium {
	width:100%;
}
.clear {
	clear:both;
}
form li div label {
	clear:both;
	color:#444;
	display:block;
	font-size:12px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}
form li span label {
	clear:both;
	color:#444;
	display:block;
	font-size:11px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}
.form_description {
	border-bottom:1px dotted #ccc;
	clear:both;
	display:inline-block;
	margin:0 0 1em;
}
.form_description[class] {
	display:block;
}
.form_description h2 {
	clear:left;
	font-size:160%;
	font-weight:400;
	margin:0 0 3px;
}
.form_description p {
	font-size:95%;
	line-height:130%;
	margin:0 0 12px;
}
form hr {
	display:none;
}
form li.section_break {
	border-top:1px dotted #ccc;
	margin-top:9px;
	padding-bottom:0;
	padding-left:9px;
	padding-top:13px;
	width:97% !important;
}
form ul li.first {
	border-top:none !important;
	margin-top:0 !important;
	padding-top:0 !important;
}
form .section_break h3 {
	font-size:110%;
	font-weight:400;
	line-height:130%;
	margin:0 0 2px;
}
form .section_break p {
	font-size:85%;
	margin:0 0 10px;
}
/**** Buttons ****/
input.button_text {
	overflow:visible;
	padding:0 7px;
	width:auto;
}

.buttons input {
	font-size:120%;
	margin-right:5px;
}
/**** Inputs and Labels ****/
label.description {
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}
span.symbol {
	font-size:100%;
	line-height:130%;
}
input.text {
	background:#fff repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;	
	font-size:100%;
	margin:0;
	padding:2px 0;
}
input.file {
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}
textarea.textarea {
	background:#fff repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	margin:0;
	width:99%;
}
select.select {
	color:#333;
	font-size:100%;
	margin:1px 0;
	padding:1px 0 0;
	background:#fff repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
}
input.currency {
	text-align:right;
}
input.checkbox {
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
}
input.radio {
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
}
label.choice {
	color:#444;
	display:block;
	font-size:100%;
	line-height:1.4em;
	margin:-1.55em 0 0 25px;
	padding:4px 0 5px;
	width:90%;
}
select.select[class] {
	margin:0;
	padding:1px 0;
}
*:first-child+html select.select[class] {
	margin:1px 0;
}
.safari select.select {
	font-size:120% !important;
	margin-bottom:1px;
}
input.small {
	width:25%;
}
select.small {
	width:25%;
}
input.medium {
	width:50%;
}
select.medium {
	width:50%;
}
input.large {
	width:65%;
}
select.large {
	width:65%;
}
textarea.small {
	height:5.5em;
}
textarea.medium {
	height:10em;
}
textarea.large {
	height:20em;
}
/**** 
z-indexs ****/
#error_message {
	background:#fff;
	border:1px dotted red;
	margin-bottom:1em;
	padding-left:0;
	padding-right:0;
	padding-top:4px;
	text-align:center;
	width:99%;
}
#error_message_title {
	color:#DF0000;
	font-size:125%;
	margin:7px 0 5px;
	padding:0;
}
#error_message_desc {
	color:#000;
	font-size:100%;
	margin:0 0 .8em;
}
#error_message_desc strong {
	background-color:#FFDFDF;
	color:red;
	padding:2px 3px;
}
form span.error {
z-index:-1;
	margin: 0;
	clear:none;
	line-height:1.2em;
	padding:3px 5px;
	color:red;
	font-size:10px;
	font-weight:700;
	margin:0 0 0 5px;
	
}
form .error label {
	color:#DF0000 !important;
}
form .required {
	color:red;
	float:none;
	font-weight:700;
}
form .element{
z-index:999;}
/**** Guidelines and Error Highlight ****/
form li.highlighted {
	background-color:#fff7c0;
}
form .guidelines {
	background:#f5f5f5;
	border:1px solid #e6e6e6;
	color:#444;
	font-size:80%;
	left:100%;
	line-height:130%;
	margin:0 0 0 8px;
	padding:8px 10px 9px;
	position:absolute;
	top:0;
	visibility:hidden;
	width:42%;
	
}
form .guidelines small {
	font-size:105%;
}
form li.highlighted .guidelines {
	visibility:visible;
}
form li:hover .guidelines {
	visibility:visible;
}
.no_guidelines .guidelines {
	display:none !important;
}
.no_guidelines form li {
	width:97%;
}
.no_guidelines li.section {
	padding-left:9px;
}
/*** Success Message ****/
.form_success {
	clear: both;
	margin: 0;
	padding: 90px 0pt 100px;
	text-align: center
}
.form_success h2 {
	clear:left;
	font-size:120%;
	font-weight:normal;
	margin:0pt 0pt 3px;
}
/*** Password ****/
ul.password {
	margin-top:60px;
	margin-bottom: 60px;
	text-align: center;
}
.password h2 {
	color:#DF0000;
	font-weight:bold;
	margin:0pt auto 10px;
}
.password input.text {
	font-size:120% !important;
	width:380px;
	text-align: center;
}
.password label {
	display:block;
	font-size:120% !important;
	padding-top:10px;
	font-weight:bold;
}
#li_captcha {
	padding-left: 5px;
}
#li_captcha span {
	float:none;
}
.line-separator{
margin: 0 0 15px 0;
border-bottom:1px solid #cccccc;
padding: 0px 0 0px 0;
padding: 20px 0 20px 0;
padding: 20px 0 20px 0;
}

/*html 5*/


/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */



article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: left; }


select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 

input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }


button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }



/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/




#contact-form {
	/*background-color:#F2F7F9;*/
	background-color:#F3FFFF;
	width:600px;
	padding:15px;
	margin: 20px auto;	
	border: 2px solid #8FB5C1;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	position:relative;
}



#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
	font-size:12px;
	margin-bottom:2px;
}
 
#contact-form select{
	
	border: 1px solid #CEE1E8;
	margin-bottom:20px;
	padding:4px;
}

#contact-form textarea {
	width:450px;
	border: 1px solid #CEE1E8;
	margin-bottom:20px;
	padding:4px;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
	border: 1px solid #AFCDD8;
	background-color: #EBF2F4;
}

#contact-form textarea {
	height:150px;
	resize: none;
}

#contact-form label {
	display:block;
}

#contact-form .required {
	font-weight:bold;
	color:#F00;	
}

#contact-form #submit-button {
	width: 100px;
	background-color:#333;
	color:#FFF;
	border:none;
	display:block;
	float:right;
	margin-bottom:0px;
	margin-right:6px;
	background-color:#8FB5C1;
	-moz-border-radius:8px;
}

#contact-form #submit-button:hover {
	background-color: #A6CFDD;
}

#contact-form #submit-button:active {
	position:relative;
	top:1px;
}

#contact-form #loading {
	width:32px;
	height:32px;	
	display:block;
	position:absolute;
	right:130px;
	bottom:16px;
	display:none;
}

#errors {
	border:solid 1px #E58E8E;
	padding:10px;
	margin:25px 0px;
	display:block;
	width:437px;
	color:red;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background:#FFE6E6 no-repeat 405px center;
	display:none;
}

#errors li {
	padding:2px;
	list-style:none;	
}

#errors li:before {
	content: ' - ';	
}

#errors #info {
	font-weight:bold;
}

#errors #info:before {
	content: '';	
}

#success {
	border:solid 1px #83D186;
	padding:25px 10px;
	margin:25px 0px;
	display:block;
	width:437px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background:#D3EDD3 no-repeat 405px center;
	font-weight:bold;
	display:none;
}

#errors.visible, #success.visible {
	display:block;	
}

#req-field-desc {
	font-style:italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
	color:#CCC;
	font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
	color:#CCC;
	font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
	color:#CCC;
	font-style:italic;
}

.hasPlaceholder {
	   color: #CCC;
	   font-style:italic;
	   
	}
		

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



/*html 5*/
#in_progress_letter {
  width: 600px;
}

#in_progress_letter th {
  padding: .3em;
  text-align: left;
}

#in_progress_letter td {
  padding: .4em;
  border: 1px solid #a6c9e2;
}

.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 0.8em; }
.ui-widget .ui-widget { font-size: 0.9em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size:0.9em; }
.ui-widget-content { border: 1px solid #a6c9e2; background: #fcfdfd 50% bottom repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #4297d7; background: #5c9ccc 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }


/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #c5dbec; background: #dfeffc 50% 50% repeat-x; font-weight: bold; color: #2e6e9e; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #2e6e9e; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #79b7e7; background: #d0e5f5  50% 50% repeat-x; font-weight: bold; color: #1d5987; }
.ui-state-hover a, .ui-state-hover a:hover { color: #1d5987; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #79b7e7; background: #f5f8f9 50% 50% repeat-x; font-weight: bold; color: #e17009; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #e17009; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fad42e; background: #fbec88 url 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }



.dialog_content .text {
  margin-right: 1em;
}


.dialog_content .row {
  clear: both;
  float: left;
  margin: .5em 0;
}

.dialog_content .row .cell {
  float: left;
  vertical-align: bottom;
}

.dialog_content .top_labels label {
  display: block;
  margin-right: 1em;
  white-space: nowrap;
}


.dialog_content .new_row {
  clear: left;
}

.dialog_content .datepicker {
  float: none !important;
}

.dialog_content .invisible {
  visibility: hidden;
}

.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }



/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-right {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-left { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }


/* GROOVY MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 1.0em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.5em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0 50% no-repeat;
	text-indent: 22px;
}

.message {
	background: transparent url(../images/skin/information.png) 0 50% no-repeat;
	text-indent: 22px;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}


